/* navbar */
.navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
}

.ban a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 85);
}

.ban a {
    font-size: small;
    display: block;
    color: rgb(2, 2, 2);
    padding: 41px 30px;
    text-decoration: none;
    float: right
}

.logo {
    display: block;
    margin: 31px;
    float: left;
    border: 2px rgb(255, 0, 85) solid;
    background-color: rgb(255, 0, 85);
    border-radius: 16px;
    color: rgb(255, 255, 255);
    padding: 5px 7px;
}

/* navbar end */

/* Cv Start */
.Resume {
    border: 4px solid black;
    margin-top: 50px;
    padding: 5px;
}

.Res {
    text-align: center;
}

.res-2 {
    padding: 0px 20px;
}

.smt {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 10px;
}

table {
    width: 60%;
}

tr {
    height: 60px;
}

td {
    text-align: center;
    border: 3px solid black;
}

.image {
    overflow: hidden;
    width: 167px;
    height: 151px;
    margin-right: 44px;
}

.year {
    width: 180px;
}

.stcol,
.rdcol {
    background-color: rgba(197, 197, 197, 0.836);
}

.ndcol, .thcol{
    background-color: rgba(197, 197, 197, 0.247);
}

label {

    margin-left: 5px;
    font-size: large;
}

/* CV end */


/* About me start */
#aboutme-3 {
    margin-top: 60px;
}

.aboutme-4 {
    padding: 0px 40px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.aboutme-2 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 141px;
    color: rgb(0, 0, 0);
}

/* Aboutme end */
.acedmics-3 {
    content: "";
    display: table;
    clear: both;
    margin-top: 60px;
}

.acedmics-1 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 148px;
    color: rgb(0, 0, 0);
}

.acedmics-4 {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 84px;
    float: left;
    width: 24%;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 85);
    padding: 25px;
    margin: 41px;
}


.acedmics-2 {
    font-size: xx-large;
    text-align: center;
    color: rgb(255, 255, 255);
}

/* acedmics end */


/* Background start */
.background{
margin-top: 151px;
}

.bg-1 {
    color: rgb(0, 0, 0);
    margin-top: 151px;
    text-align: center;
    font-size: xxx-large;
    font-family: 'Times New Roman', Times, serif;
}


.bg-3 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: xx-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* background end */


.res-1 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 20px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.introduction {
    margin-top: 30px;
}

/* Interest and Hobbies */
.hob-1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 136px;
}

.hob-2 {

    padding: 3px;
    content: "";
    display: table;
    clear: both;
    margin-top: 60px;
}

.hob-3 {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 86px;
    float: left;
    width: 24%;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 85);
    padding: 25px;
    margin: 41px;
}

.hob-4 {
    font-size: xx-large;
    text-align: center;
    color: rgb(255, 255, 255);
}

.hob-5 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Interest and hobbies end */

/* Why to hire me start */
.proj-1 {
    background-color: rgb(255, 255, 255);
    margin-top: -1px;
    text-align: center;
    font-size: xxx-large;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    padding-top: 119px;
}

.proj-2 {
    text-align: center;
    font-size: xx-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: rgb(0, 0, 0);
    margin-top: -41px;
    padding: 72px;
}



.con-1 {
    background-color: rgb(255, 255, 255);

    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding: 13px;
    margin-top: -41px;
    color: rgb(0, 0, 0);
}

.con-2 ul {
    background-color: rgb(255, 255, 255);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.con-4 a {
    float: right;
    display: block;
    overflow: hidden;
}

.con-5 {
    height: 50px;
    width: 60px;

}

.print {
    text-align: center;
    color: rgb(44, 44, 224);
    margin-top: 10px;
}

#parent {
    background-color: rgb(255, 255, 255);
}

/* .aboutme-5 {
    margin-top: 120px;
}

.aboutme-5 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.aboutme-8 {
    height: 228px;
    width: 304px;
    display: block;
    float: right;
    padding: 26px 43px;

}

.aboutme-7 {
    margin-right: 120px;
} */

.photo {
    display: block;
    height: 244px;
    width: 230px;
    border: black;
    border-radius: 50%;
    margin-left: 650px;
}

.backbutton{
    height: 50px;
    width: 90px;
   border: 2px solid black;
  border-radius: 10px;
}